[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/z-zsh"]
	path = zsh/z-zsh
	url = https://github.com/sjl/z-zsh.git
[submodule "tako/plugins"]
	path = tako/plugins
	url = git@gitlab.com:jdkaplan/tako-plugins.git
[submodule "neovim/neosnippets"]
	path = neovim/neosnippets
	url = https://github.com/Shougo/neosnippet-snippets.git
