URxvt*background: #000000
URxvt*foreground: #FFFFFF
URxvt*scrollBar: false
URxvt*saveLines: 65535
URxvt*pastableTabs: true
URxvt*cursorBlink: false
URxvt*transparent: true
URxvt.shading: 20
URxvt*buffered: true
URxvt*intensityStyles: false
URxvt*urgentOnBell: true
URxvt*iso14755: false
URxvt*font: xft:Input Mono Narrow Light:size=8
URxvt.perl-ext-common: confirm-paste,
URxvt*scrollTtyOutput:  false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Black
URxvt*color0:  #000000
URxvt*color8:  #555555
! Red
URxvt*color1:  #ff6565
URxvt*color9:  #ff8d8d
! Green
URxvt*color2:  #93d44f
URxvt*color10: #c8e7a8
! Yellow
URxvt*color3:  #eab93d
URxvt*color11: #ffc123
! Blue
URxvt*color4:  #204a87
URxvt*color12: #3465a4
! Magenta
URxvt*color5:  #ce5c00
URxvt*color13: #f57900
! Cyan
URxvt*color6:  #89b6e2
URxvt*color14: #46a4ff
! White
URxvt*color7:  #cccccc
URxvt*color15: #ffffff
