URxvt*depth: 32
URxvt*background: [90]#000000
URxvt*foreground: [100]#FFFFFF
URxvt*scrollBar: false
URxvt*saveLines: 65535
URxvt*pastableTabs: true
URxvt*cursorBlink: false
URxvt*transparent: true
URxvt.shading: 20

URxvt*font: xft:DejaVu Sans Mono:size=10
URxvt*letterSpace: -1

URxvt*buffered: true
URxvt*intensityStyles: false
URxvt*urgentOnBell: true
URxvt*iso14755: false

URxvt*perl-ext-common: default,tabbedex,clipboard

URxvt*tabbed.tabbar-fg: 235
URxvt*tabbed.tabbar-bg: 0
URxvt*tabbed.tab-fg: 245
URxvt*tabbed.tab-bg: 0
URxvt*tabbed.autohide: true

URxvt*tabbed.no-tabbedex-keys: true
URxvt*keysym.C-T: perl:tabbedex:new_tab
URxvt*keysym.C-Next: perl:tabbedex:next_tab
URxvt*keysym.C-Prior: perl:tabbedex:prev_tab

Xautolock.corners: 000-
Xautolock.time: 10
Xautolock.locker: i3lock
