URxvt*background: #000000
URxvt*foreground: #FFFFFF
URxvt*scrollBar: false
URxvt*saveLines: 65535
URxvt*pastableTabs: true
URxvt*cursorBlink: false
URxvt*transparent: true
URxvt.shading: 20
URxvt*buffered: true
URxvt*intensityStyles: false
URxvt*urgentOnBell: true
URxvt*iso14755: false
URxvt*font: xft:Input Mono Narrow Light:size=10

Xft.dpi: 120
