# autosave
auto-save-list

# autocomplete history
ac-comphist.dat
ido.last

# temporary files
*~

# package management
elpa

# bookmarks
bookmarks

# projectile
projectile-bookmarks.eld
projectile.cache
recentf
